@import 'variables';
@import 'header';
@import 'cards';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-stack;
  font-weight: 600;
  color: $gray;
}

body {
  min-height: 100vh;
  background: $vlight-gray;
}

.top {
  position: fixed;
  z-index: -1;
  top: -50px;
  right: -180px;
}

.bottom {
  display: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.attribution {
  padding: 1.5rem;
  text-align: center;
  font-size: 0.6rem;

  a {
    color: inherit;
  }
}
