@import 'variables';
@import 'header';
@import 'cards';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-stack;
  font-weight: 600;
  color: $gray;
}

body {
  min-height: 100vh;
  background: $vlight-gray;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top {
  position: fixed;
  z-index: -1;
  top: -50px;
  right: -180px;

  @media screen and (min-width: 1024px) {
    top: 0;
    right: 0;
  }
}

.bottom {
  display: none;

  @media screen and (min-width: 1024px) {
    display: inline;
    position: fixed;
    z-index: -1;
    left: 0px;
    bottom: 0px;
  }
}

.attribution {
  padding: 1.5rem;
  text-align: center;
  font-size: 0.6rem;

  a {
    color: inherit;
  }
}
